<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Rock Paper Scissors</title>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Custom styles -->
		<link rel="stylesheet" type="text/css" href="css/global.css"></link>
		<!-- Custom scripts -->
		<script src="js/global.js"></script>
	</head>
	<body>
	</body>
</html>