<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/head :: head"></div>
	<body>
		<div class="page">
			<div class="page--header">
				<div th:replace="fragments/header :: header"></div>
				<div th:replace="fragments/menu :: menu"></div>
			</div>
			<div class="page--content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-10 col-md-offset-1">
							<!-- Actual page content START -->
							
							<h1>About myself</h1>
							
							<p>Currently under development</p>
							
							<!-- Actual page content END -->	
						</div>
					</div>
				</div>
			</div>
			<div class="page--footer">
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>	
	</body>
</html>