<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/head :: head"></div>
	<body>
		<div class="page">
			<div class="page--header">
				<div th:replace="fragments/header :: header"></div>
				<div th:replace="fragments/menu :: menu"></div>
			</div>
			<div class="page--content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-10 col-md-offset-1">
							<!-- Actual page content START -->
							
							<h1>About myself and this application</h1>
							
							<p>I'm a computer science engineer who graduated from the University of Costa Rica. Ever since I've been mostly a professor with some development experience in a few varied projects. Now I would like to become a software developer, improve my skills and learn new technologies and work methodologies. I enjoy working with good documented frameworks that change the way you look at software.</p>

							<p>For this solution I used the following technologies</p>

							<ul>
								<li>Java in pair with Maven and Spring Boot. I used these technologies since I'm applying to a Java position. I also decided to use this project to learn a little bit about Spring, which is a technology I haven't use before. But there's still a vast amount of Spring to learn.</li>
								<li>Thymeleaf templates, HTML5, CSS, SASS, Javascript, jQuery. I used these technologies for the frontend of the application. Some don't need much explanation. SASS is a CSS preprocessor I like to use. Thymeleaf template system seems to be Spring's default.</li>
								<li>JPA. I learned a little bit of this for the data layer of the application. It took care of most CRUD operations.</li>
								<li>MySQL is my choice of database, since it's free.</li>
								<li>Tomcat is the container of this application, it is Spring Boot's default.</li>
							</ul>
							
							<p>Check the source code on <a href="https://github.com/RubenJG/RockPaperScissorsWebApp" target="_blank">Github</a></p>
							
							<!-- Actual page content END -->	
						</div>
					</div>
				</div>
			</div>
			<div class="page--footer">
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>	
	</body>
</html>