<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:replace="fragments/head :: head"></div>
	<body>
		<div class="page">
			<div class="page--header">
				<div th:replace="fragments/header :: header"></div>
				<div th:replace="fragments/menu :: menu"></div>
			</div>
			<div class="page--content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-md-10 col-md-offset-1">
							<!-- Actual page content START -->
								
							<h1>Help</h1>								
							<p>In order to play this game you'll need to create a file containing the game or games you want to simulate.</p>
							<p>If you want to play only one game, then you'll create an array of 2 players. Each players is also an array that consists in 2 strings, name and strategy. A player's strategy is "R" for Rock, "P" for Paper and "S" for Scissors. Use double quotes when writing your strings.</p>
							<p>If you want to play a tournament, you can start creating arrays of games and nest them as much as you would like as long as the amount of players remains a power of two.</p>
							<p>Download the following examples to guide yourself when creating tournaments.</p>

							<ul class="list-group">
								<li class="list-group-item"><a href="/files/T1.txt">2 players example</a></li>
								<li class="list-group-item"><a href="/files/T2.txt">4 players example</a></li>
								<li class="list-group-item"><a href="/files/T3.txt">8 players example</a></li>
							</ul>
							
							<!-- Actual page content END -->	
						</div>
					</div>
				</div>
			</div>
			<div class="page--footer">
				<div th:replace="fragments/footer :: footer"></div>
			</div>
		</div>	
	</body>
</html>