//
// SCSS stylesheet for the Rock Paper Scissors Web Application
//
// Author: Rubén Jiménez Goñi

.page .page--footer {
    
    footer {
        background: #333;
        height: $footer-height;
    }

    p, a {
        color: white;
        margin: 0;
        font-size: 1.3rem;
        line-height: $footer-height;
    }

    a:hover, a:focus { 
        color: white;
    }
}